global
    log stdout format raw local0 info

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend ldap_front
    bind *:389
    default_backend ldap_back

backend ldap_back
    balance roundrobin
    server idm1 idm1.fis.epn.ec:389 check
    server idm2 idm2.fis.epn.ec:389 check backup

frontend ldaps_front
    bind *:636
    default_backend ldaps_back

backend ldaps_back
    balance roundrobin
    server idm1 idm1.fis.epn.ec:636 check
    server idm2 idm2.fis.epn.ec:636 check backup
